@using Eshop.Models.Tables
@using Eshop.Models.Checkout
@model BillingInformation
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
    var Data = (List<ProductLabelImages>)Session["listOfProducts"];
    var Information = (Information)Session["InformationAboutCustomer"];
    var HashCode = (int)Session["HashCode"];
}
<script>
    $(document).ready(function () {
        if (@Model.GetHashCode() != @HashCode) {
            $("#addressr2").prop("checked", true);
            $(".checkoutshippingbillingaddress").css("height", "380px");
            ShowForm();
        }
        else {
            $(".checkoutshippingbillingaddress").hide();
            $("#checkoutshippingwrappernopadding").hide();
            $(".checkoutcontinuebutton + a").hide();
            $("#checkoutcustomhrspecial").css({ "opacity": "0%" });
            $("#checkoutshippingwrapperbeforespecial").css({ "border-radius": "4px", "margin-bottom": "20px" });
        }
        $("#addressr2").click(ShowForm);

        $("#addressr1").click(function () {
            $(".checkoutcontinuebutton").show();
            $(".checkoutcontinuebutton + a").hide();
            $(".checkoutshippingbillingaddress").hide();
            $("#checkoutshippingwrappernopadding").hide();
            $("#checkoutcustomhrspecial").css({ "opacity": "0%" });
            $("#checkoutshippingwrapperbeforespecial").css({ "margin-bottom": "20px", "border-radius": "4px" });
        });

        function ShowForm() {
            $(".checkoutcontinuebutton").hide();
            $(".checkoutcontinuebutton + a").show();
            $(".checkoutshippingbillingaddress").fadeIn();
            $(".checkoutshippingbillingaddress").css({ "background-color": "#fafafa" });
            $("#checkoutshippingwrappernopadding").show();
            $("#checkoutshippingwrapperbeforespecial").css({ "margin-bottom": "0", "border-radius": "0", "border-top-left-radius": "4px", "border-top-right-radius": "4px" });
        }
    });

</script>


<div class="checkoutmainwrapper">
    <div class="leftsidewrapper">
        <a id="checkoutdebralogoinitial" class="checkoutdebralogoa" href="/Home"><img class="checkoutdebralogo" src="~/Icons/debra-logo-b_300x.png" alt="Alternate Text" /></a>
        <div class="checkoutpath">
            <span class="checkoutlink checkoutlinkcurrent"><a class="checkoutlinka" href="/Payment/Cart">Cart</a></span> >
            <span class="checkoutlink checkoutlinkcurrent"><a class="checkoutlinka" href="/Payment/CheckoutCustomer">Information</a></span> >
            <span class="checkoutlink checkoutlinkcurrent"><a class="checkoutlinka" href="/Payment/CheckoutShipping">Shipping</a></span> >
            <span class="checkoutlink checkoutlinkbold">Payment</span>
        </div>
        <div class="checkoutmainformwrapper">
            <div class="checkoutshippingfirsttable">
                <div class="checkoutshippingrow">
                    <span class="checkouttabletext checkouttableweak">Contact</span>
                    <span class="checkouttabletext">@Information.EmailOrPhoneNumber</span>
                    <a class="checkouttablea" href="~/Payment/CheckoutCustomer">Change</a>
                </div>
                <div class="checkoutcustomhr checkoutrighthr"></div>
                <div class="checkoutshippingrow">
                    <span class="checkouttabletext checkouttableweak">Ship to</span>
                    <span class="checkouttabletext">@Information.Address, @Information.PostalCode, @Information.City, @Information.Country</span>
                    <a class="checkouttablea" href="~/Payment/CheckoutCustomer">Change</a>
                </div>
                <div class="checkoutcustomhr checkoutrighthr"></div>
                <div class="checkoutshippingrow">
                    <span class="checkouttabletext checkouttableweak">Method</span>
                    <span class="checkouttabletext">Standard - <span class="checkoutrightboldprice">$0.24</span></span>
                </div>
            </div>
            <div class="checkoutshippingsecondtable">
                <p class="checkoutcontactp checkoutpaymentp">Payment</p>
                <div class="checkouttabletext checkoutpaymentsubtextdiv">All transactions are secure and encrypted.</div>
                <div class="checkoutshippingwrapper">
                    <span class="checkouttabletext checkoutrightboldprice">Cash on Delivery (COD)</span>
                </div>
            </div>
            <div class="checkoutshippingsecondtable">
                <p class="checkoutcontactp checkoutpaymentp">Billing address</p>
                <div class="checkouttabletext checkoutpaymentsubtextdiv">Select the address that matches your card or payment method.</div>
                <div id="checkoutshippingwrapperbeforespecial" class="checkoutshippingwrapper">
                    <div>
                        <input class="checkoutshippingradio" id="addressr1" type="radio" name="radio" value="1" checked="checked">
                        <label class="checkouttabletext checkoutshippingpricespan checkoutpaymentleft" for="addressr1">Same as shipping address</label>
                    </div>
                    <div class="checkoutcustomhr checkoutrighthr"></div>
                    <div>
                        <input class="checkoutshippingradio" id="addressr2" type="radio" name="radio" value="1">
                        <label class="checkouttabletext checkoutshippingpricespan checkoutpaymentleft" for="addressr2">Use a different billing address</label>
                    </div>
                    <div id="checkoutcustomhrspecial" class="checkoutcustomhr checkoutrighthr"></div>
                </div>
                @{ Html.RenderPartial("InputsForCheckoutPayment", Model);}
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("ProductSide", Data);}
</div>
