@using Eshop.Models.TemporaryClasses
@model BigModelForInformation
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<div class="checkoutmainwrapper">
    <div class="leftsidewrapper">
        <a id="checkoutdebralogoinitial" class="checkoutdebralogoa" href="/Home"><img class="checkoutdebralogo" src="~/Icons/debra-logo-b_300x.png" alt="Alternate Text" /></a>
        <div class="checkoutpath">
            <span class="checkoutlink checkoutlinkcurrent"><a class="checkoutlinka" href="/Payment/Cart">Cart</a></span> >
            <span class="checkoutlink checkoutlinkcurrent"><a class="checkoutlinka" href="/Payment/CheckoutCustomer">Information</a></span> >
            <span class="checkoutlink checkoutlinkbold">Shipping</span> >
            <span class="checkoutlink checkoutlinkweak">Payment</span>
        </div>
        <div class="checkoutmainformwrapper">
            <form action="/" method="post">
                <div class="checkoutshippingfirsttable">
                    <div class="checkoutshippingrow">
                        <span class="checkouttabletext checkouttableweak">Contact</span>
                        <span class="checkouttabletext">@Model.InformationAboutCustomer.EmailOrPhoneNumber</span>
                        <a class="checkouttablea" href="~/Payment/CheckoutCustomer">Change</a>
                    </div>
                    <div class="checkoutcustomhr checkoutrighthr"></div>
                    <div class="checkoutshippingrow">
                        <span class="checkouttabletext checkouttableweak">Ship to</span>
                        <span class="checkouttabletext">@Model.InformationAboutCustomer.Address, @Model.InformationAboutCustomer.PostalCode, @Model.InformationAboutCustomer.City, @Model.InformationAboutCustomer.Country</span>
                        <a class="checkouttablea" href="~/Payment/CheckoutCustomer">Change</a>
                    </div>
                </div>
                <div class="checkoutshippingsecondtable">
                    <p id="checkoutshippingp" class="checkoutcontactp">Shipping method</p>
                    <div class="checkoutshippingwrapper">
                        <input class="checkoutshippingradio" id="r1" type="radio" name="radio" value="1" checked="checked">
                        <label class="checkouttabletext checkouttableweak" for="r1">Standard</label>
                        <span class="checkoutshippingpricespan">$0.24</span>
                    </div>
                </div>
                <div class="checkoutshippingbottom">
                    <a class="checkoutreturnlinka" href="#">< Return to information</a>
                    <a class="checkoutcontinuebutton" href="/Payment/CheckoutPayment">Continue to payment</a>
                </div>
            </form>
        </div>
    </div>
    @{Html.RenderPartial("ProductSide", Model.Data);}
</div>
